@import './coverAntd.scss';

// 滚动条样式
::-webkit-scrollbar-track-piece {
  background-color: rgba(54, 50, 50, 0.4);
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: rgba(0, 200, 255, 0.5);
  outline: 2px solid rgba(54, 50, 50, 0.1);
  outline-offset: -2px;
  border: 2px solid rgba(54, 50, 50, 0.1);
  filter: alpha(opacity = 50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #878987;
}

// * {
//   // 禁止文字被鼠标选中
//   moz-user-select: -moz-none;
//   -moz-user-select: none;
//   -o-user-select:none;
//   -khtml-user-select:none;
//   -webkit-user-select:none;
//   -ms-user-select:none;
//   user-select:none;
// }

.viewer-button {
  background-color: rgba(231, 226, 226, 0.6)!important;
}

