@import './coverAntd.scss';

// 滚动条样式
::-webkit-scrollbar-track-piece {
  background-color: #fff;
}
::-webkit-scrollbar {
  // width: 8px;
  // height: 10px
  display: none;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #b8b8b8;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 2px solid #fff;
  filter: alpha(opacity = 50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #878987;
}

// * {
//   // 禁止文字被鼠标选中
//   moz-user-select: -moz-none;
//   -moz-user-select: none;
//   -o-user-select:none;
//   -khtml-user-select:none;
//   -webkit-user-select:none;
//   -ms-user-select:none;
//   user-select:none;
// }

.viewer-button {
  background-color: rgba(231, 226, 226, 0.6)!important;
}

